{% extends 'base.html' %}

{% load static %}

{% block content %}
{% load countries %}
{% get_countries as countries %}
{% load humanize %}

        <!-- Start Page Banner -->
        <div class="page-banner-area item-bg2">
            <div class="container">
                <div class="page-banner-content">
                    <h2>Welcome, {{ user.first_name }} {{ user.last_name }}!</h2>
                    <ul>
                        <li>
                            <a href="{% url 'dashboard' %}">Account's Home</a>
                        </li>
                        <li>Wire Transfer Form</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->

         <!-- Start Register Area -->
        <section class="register-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="register-form">
                            <h2>Wire Transfer Form</h2>

                            <form action="{% url 'transfer' %}" method="post">
                            {% csrf_token %}
                                <div class="form-group">
                                    <label>Recipient's Account Number</label>
                                    <input type="text" class="form-control" placeholder="Recipient's Account Number" name="acct_num" required>
                                </div>

                                <div class="form-group">
                                    <label>Recipient's Account Name</label>
                                    <input type="text" class="form-control" placeholder="Recipient's Account Name" name="recipient" required>
                                </div>

                                <div class="form-group">
                                    <label>Transaction Amount</label>
                                    <input type="number" class="form-control" placeholder="Transaction Amount" name="amount" min="0" max="{{ user.user_ledger.balance }}" required>
                                </div>

                                <div class="form-group">
                                    <label>Recipient's Bank Name</label>
                                    <input type="text" class="form-control" placeholder="Bank Name" name="bank_name" required>
                                </div>

                                <div class="form-group">
                                    <label>Recipient's Bank Swift Code <small>(for international transfers)</small></label>
                                    <input type="text" class="form-control" placeholder="Recipient's Bank Swift Code" name="swift_code" required>
                                </div>

                                <div class="form-group">
                                    <label>Recipient's Bank Address</label>
                                    <input type="text" class="form-control" placeholder="Recipient's Bank Address" name="bank_address" required>
                                </div>

                                <div class="form-group">
                                    <label>Recipient's Bank Phone</label>
                                    <input type="text" class="form-control" placeholder="Recipient's Bank Phone" name="bank_phone" required>
                                </div>

                                <div class="form-group">
                                    <label>Recipient's Bank Location (Country)</label>
                                    <select name="country">
                                        {% for country in countries %}
                                            <option value="{{ country.code }}">{{ country.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Recipient's Bank Location (State)</label>
                                    <input type="text" class="form-control" placeholder="Recipient's Bank Location (State)" name="state" required>
                                </div>

                                <div class="form-group">
                                    <label>Zip/Postal Code</label>
                                    <input type="text" class="form-control" placeholder="Zip/Postal Code" name="zip_code" required>
                                </div>


{#                                <div class="form-group">#}
{#                                    <label>Account type</label>#}
{#                                    <select>#}
{#                                        <option value="">Online banking</option>#}
{#                                        <option value="">Online investing</option>#}
{#                                        <option value="">Business banking</option>#}
{#                                        <option value="">Mobile banking</option>#}
{#                                        <option value="">Corporate & commercial</option>#}
{#                                        <option value="">Institutional</option>#}
{#                                    </select>#}
{#                                </div>#}

                                <div class="register-form-btn">
                                    <button type="submit" class="default-btn">
                                        Complete Transfer
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="register-image"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Register Area -->
{% endblock %}
