{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Start Page Banner -->
<div class="page-banner-area">
  <div class="container">
    <div class="page-banner-content">
      <h2>About us</h2>
      <ul>
        <li>
          <a href="{% url 'home' %}">Home</a>
        </li>
        <li>About us</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Page Banner -->

<!-- Start About Area -->
<section class="about-area bg-ffffff ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-content-warp">
          <span>About Us</span>
          <h3>We operate our banking services in many countries around the world.</h3>
          <p>At Crest Capital Bank, we value all of the relationships we have built since 1974. We are committed to providing each relationship with an unmatched level of service. While we offer competitive products, services, rates and technology, the level of service we provide and our commitment to building relationships is what sets us apart from our competitors.</p>
          <p>Crest Capital Bank isn&#39;t just growing to get bigger. We are growing to satisfy the continued demand for a bank that focuses on service, our mix of competitive products, combined with a high level of service and a focus on relationships is an overwhelming value proposition for our customers.</p>
          <p>Crest Capital Bank is backed by a history of safe, sound and secure banking practices that have allowed us to navigate through decades of changing economic environments. Because of this, our employees, customers, shareholders and communities can rely on us to be their banking partner for decades to come.</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="about-image"></div>
      </div>
    </div>
  </div>
</section>
<!-- End About Area -->

<!-- Start Partner Area -->

<!-- End Partner Area -->

<!-- Start Banking Area -->

<!-- End Banking Area -->

<!-- Start Fun Facts Area -->
<section class="fun-facts-area bg-ffffff pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <span>Why choose us</span>
      <h2>Our bank has been providing services to its customers for almost 25 years.</h2>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-fun-fact">
          <div class="icon">
            <i class="flaticon-positive-vote"></i>
          </div>

          <h3>
            <span class="odometer" data-count="358412">00</span>
          </h3>
          <p>Happy customers</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-fun-fact">
          <div class="icon">
            <i class="flaticon-confetti"></i>
          </div>

          <h3>
            <span class="odometer" data-count="45">00</span>
          </h3>
          <p>Years in banking</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-fun-fact">
          <div class="icon">
            <i class="flaticon-bank"></i>
          </div>

          <h3>
            <span class="odometer" data-count="529">00</span>
          </h3>
          <p>Our branches</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-fun-fact">
          <div class="icon">
            <i class="flaticon-success"></i>
          </div>

          <h3>
            <span class="odometer" data-count="54285">00</span>
          </h3>
          <p>Successfully works</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Fun Facts Area -->

<!-- Start Team Area -->

<!-- End Team Area -->

<!-- Start Customer Area -->

<!-- End Customer Area -->
{% endblock %}
